body {
  font-family: sans-serif;
  background: #111;
  color: #eee;
  padding: 20px;
}

input, select, button {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border-radius: 6px;
  border: none;
}

button {
  background: #00b894;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #019875;
}

.hidden {
  display: none;
}

.login-container, .main-app {
  max-width: 400px;
  margin: auto;
}

#setsList div {
  background: #222;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
}
